* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.footerWeb {
  position: relative;
  min-height: 500px;
  padding: 50px 12% 50px 12%;
  background-color: #0b0d17;
}
.footerWeb .box__logo {
  margin: 24px 0px;
}
.footerWeb .box__logo img {
  width: 130px;
  height: 40px;
}
.footerWeb .box__content-left {
  color: #ffffff;
  padding-left: 30px;
}
.footerWeb .box__content-left h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  /* or 156% */
  font-feature-settings: "liga" off;
}
.footerWeb .box__content-left ul {
  list-style: none;
}
.footerWeb .box__content-left ul li {
  font-size: 16px;
  line-height: 26px;
}
.footerWeb .box__content-left p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 171% */
  font-feature-settings: "liga" off;
  /* Text / Gray 300 */
  color: #d9dbe1;
  margin: 24px 0px;
}
.footerWeb .box__content-right {
  color: #ffffff;
  padding-left: 30px;
}
.footerWeb .box__content-right h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  /* or 156% */
  font-feature-settings: "liga" off;
}
.footerWeb .box__content-right ul {
  list-style: none;
}
.footerWeb .box__content-right ul li {
  font-size: 16px;
  line-height: 26px;
}
.footerWeb .box__content-right ul li span {
  color: #2ab649;
}
.footerWeb .box__content-bottom {
  position: relative;
}
.footerWeb .box__content-bottom .icon img {
  height: 45px;
  width: 45px;
  margin: 0 10px;
}
.footerWeb .box__content-bottom p {
  padding: 15px 15px;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}

.footerMobile {
  position: relative;
  min-height: 500px;
  padding: 10px 5% 10px 5%;
  background-color: #0b0d17;
}
.footerMobile .box__logo {
  margin: 24px 0px;
}
.footerMobile .box__logo img {
  width: 130px;
  height: 40px;
}
.footerMobile .box__content-left {
  color: #ffffff;
  padding-left: 30px;
}
.footerMobile .box__content-left h1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 156% */
  font-feature-settings: "liga" off;
}
.footerMobile .box__content-left ul {
  list-style: none;
}
.footerMobile .box__content-left ul li {
  font-size: 14px;
  line-height: 26px;
}
.footerMobile .box__content-left p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  font-feature-settings: "liga" off;
  /* Text / Gray 300 */
  color: #d9dbe1;
  margin: 24px 0px;
}
.footerMobile .box__content-right {
  color: #ffffff;
  padding-left: 30px;
}
.footerMobile .box__content-right h1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 156% */
  font-feature-settings: "liga" off;
}
.footerMobile .box__content-right ul {
  list-style: none;
}
.footerMobile .box__content-right ul li {
  font-size: 14px;
  line-height: 24px;
}
.footerMobile .box__content-right ul li span {
  color: #2ab649;
}
.footerMobile .box__content-bottom {
  position: relative;
}
.footerMobile .box__content-bottom .icon img {
  height: 35px;
  width: 35px;
  margin: 0 10px;
}
.footerMobile .box__content-bottom p {
  padding: 15px 15px;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}

.headerMobile {
  padding: 0;
  position: relative;
  width: 100%;
  min-height: 60px;
  overflow-x: hidden;
  background: #ffffff;
}
.headerMobile .nav {
  position: relative;
  min-height: 56px;
  padding: 16px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2.5px 0px #e5e9f2;
  overflow-x: hidden;
  z-index: 4;
}
.headerMobile .nav__logo img {
  width: 115px;
  height: 30px;
}
.headerMobile .nav__btn label {
  margin-bottom: 0;
}
.headerMobile .nav__btn label img {
  width: 26px;
  height: 20px;
}
.headerMobile .nav__btn input#btnToggle {
  visibility: hidden;
}
.headerMobile .nav__btn input[type="checkbox"]:checked ~ div.list {
  display: flex;
  width: 100%;
}
.headerMobile .nav__btn input[type="checkbox"]:checked ~ div.list .right {
  width: 60%;
}
.headerMobile .nav__btn input[type="checkbox"]:checked ~ div.list .left {
  width: 40%;
  height: 100%;
}
.headerMobile .nav__btn .list {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  bottom: 0;
  z-index: 999;
  overflow-x: hidden;
  transition: 0.5s;
}
.headerMobile .nav__btn .list .right {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  overflow-x: hidden;
}
.headerMobile .nav__btn .list .list__close {
  height: 40px;
  padding: 16px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 0px #e5e9f2;
}
.headerMobile .nav__btn .list .list__close label {
  margin-bottom: 0;
}
.headerMobile .nav__btn .list .list__close label img {
  padding: 2px;
  width: 24px;
  height: 24px;
}
.headerMobile .nav__btn .list ul {
  list-style: none;
  flex: 1 1;
}
.headerMobile .nav__btn .list ul li.list__item {
  padding: 12px 16px;
}
.headerMobile .nav__btn .list ul li.list__item a {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #18191f;
  text-decoration: none;
}
.headerMobile .nav__btn .list ul .list__item.active a {
  color: #f77116;
}
.headerMobile .nav__btn .list .left {
  width: 0;
  background: #0b0d17;
  opacity: 0.4;
  transition: 0.5s;
}
.headerMobile .nav__btn .list .right {
  flex: 1 1;
}
.headerMobile .nav__btn .list .right .list__button {
  padding: 12px 16px;
}
.headerMobile .nav__btn .list .right .list__button button {
  background: #f77116;
  border-radius: 6px;
  color: white;
}

.headerWeb {
  overflow-x: hidden;
}
.headerWeb .header {
  padding: 0;
  position: relative;
  width: 100%;
  height: 866px;
  overflow-x: hidden;
  background: #ffffff;
}
.headerWeb .header__navbar {
  min-height: 72px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;
  background-color: transparent;
}
.headerWeb .header__navbar .navbar {
  width: 100%;
  z-index: 3;
}
.headerWeb .header__navbar .navbar__logo {
  width: 160px;
  height: 50px;
}
.headerWeb .header__navbar .navbar__logo img {
  min-width: 100%;
}
.headerWeb .header__navbar .navbar__content {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}
.headerWeb .header__navbar .navbar__content-item {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}
.headerWeb .header__navbar .navbar__content-item a {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  font-feature-settings: "liga" off;
  color: #18191f;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.headerWeb .header__navbar .navbar__content-item.active a {
  color: #f77116;
}
.headerWeb .header__navbar .navbar__btn {
  background: #f77116;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  outline-color: none;
}
.headerWeb .header__navbar .navbar__btn span {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #ffffff;
}

@media screen and (max-width: 1400px) {
  .headerWeb .header {
    overflow-x: hidden;
  }
  .headerWeb .header__navbar {
    height: 72px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    background-color: transparent;
  }
  .headerWeb .header__navbar .navbar {
    width: 100%;
    z-index: 3;
  }
  .headerWeb .header__navbar .navbar__logo {
    width: 160px;
    height: 50px;
  }
  .headerWeb .header__navbar .navbar__logo img {
    min-width: 100%;
  }
  .headerWeb .header__navbar .navbar__content {
    display: flex;
    list-style: none;
  }
  .headerWeb .header__navbar .navbar__content-item {
    display: flex;
    align-items: center;
    margin: 0px;
  }
  .headerWeb .header__navbar .navbar__content-item a {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    font-feature-settings: "liga" off;
    color: #18191f;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
    z-index: 3;
  }
  .headerWeb .header__navbar .navbar__btn {
    background: #f77116;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    outline-color: none;
  }
  .headerWeb .header__navbar .navbar__btn span {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    font-feature-settings: "liga" off;
    color: #ffffff;
  }
}
@media screen and (max-width: 1200px) {
  .headerWeb .header {
    overflow-x: hidden;
  }
  .headerWeb .header__navbar {
    height: 72px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: transparent;
  }
  .headerWeb .header__navbar .navbar {
    width: 100%;
    z-index: 3;
  }
  .headerWeb .header__navbar .navbar__logo {
    width: 160px;
    height: 50px;
  }
  .headerWeb .header__navbar .navbar__logo img {
    min-width: 100%;
  }
  .headerWeb .header__navbar .navbar__content {
    display: flex;
    list-style: none;
  }
  .headerWeb .header__navbar .navbar__content-item {
    display: flex;
    align-items: center;
    margin: 0px;
  }
  .headerWeb .header__navbar .navbar__content-item a {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    font-feature-settings: "liga" off;
    color: #18191f;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
    z-index: 3;
  }
  .headerWeb .header__navbar .navbar__btn {
    background: #f77116;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    outline-color: none;
  }
  .headerWeb .header__navbar .navbar__btn span {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    font-feature-settings: "liga" off;
    color: #ffffff;
  }
}
@media screen and (max-width: 1000px) {
  .headerWeb .header {
    overflow-x: unset;
  }
  .headerWeb .header__navbar {
    height: 72px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background-color: transparent;
  }
  .headerWeb .header__navbar .navbar {
    width: 100%;
    z-index: 3;
  }
  .headerWeb .header__navbar .navbar__logo {
    width: 160px;
    height: 50px;
  }
  .headerWeb .header__navbar .navbar__logo img {
    min-width: 100%;
  }
  .headerWeb .header__navbar .navbar__content {
    display: flex;
    list-style: none;
  }
  .headerWeb .header__navbar .navbar__content-item {
    display: flex;
    align-items: center;
    margin: 0px;
  }
  .headerWeb .header__navbar .navbar__content-item a {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    font-feature-settings: "liga" off;
    color: #18191f;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
    z-index: 3;
  }
  .headerWeb .header__navbar .navbar__btn {
    background: #f77116;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    outline-color: none;
  }
  .headerWeb .header__navbar .navbar__btn span {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    font-feature-settings: "liga" off;
    color: #ffffff;
  }
}
.HomeWeb {
  padding: 0;
}
.HomeWeb .BannerItem {
  position: relative;
  overflow-x: hidden;
  min-height: 900px;
}
.HomeWeb .BannerItem .header__content {
  position: relative;
  background-color: transparent;
  z-index: 3;
}
.HomeWeb .BannerItem .header__content .left {
  padding-left: 12%;
  padding-top: 180px;
  z-index: 2;
}
.HomeWeb .BannerItem .header__content .left__text {
  font-weight: 900;
  font-size: 55px;
  line-height: 80px;
  font-feature-settings: "liga" off;
  color: #18191f;
  font-style: normal;
  padding-bottom: 20px;
}
.HomeWeb .BannerItem .header__content .left__btn {
  background: #f77116;
  border-radius: 8px;
  outline-color: none;
  font-feature-settings: "liga" off;
  color: #ffffff;
  width: 234px;
  height: 50px;
  font-weight: bold;
}
.HomeWeb .BannerItem .header__content .right {
  z-index: 2;
}
.HomeWeb .BannerItem .header__content .right__image {
  padding-top: 100px;
}
.HomeWeb .BannerItem .header__content .right__image img {
  min-width: 600px;
  width: 100%;
  height: auto;
}
.HomeWeb .BannerItem .header__background {
  z-index: 1;
  display: flex;
  overflow: hidden;
}
.HomeWeb .BannerItem .header__background-bg {
  position: absolute;
  width: 100%;
  height: 855px;
  left: 0;
  top: 0;
  background: rgba(242, 247, 255, 0.7);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}
.HomeWeb .BannerItem .header__background-bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 2000px 180px 0;
  border-color: transparent transparent #fff transparent;
  z-index: 1;
}
.HomeWeb .BannerItem .header__background-purple_circle {
  z-index: 2;
  position: absolute;
  width: 500px;
  height: 500px;
  right: 0px;
  top: 0px;
  border-radius: 100%;
  background: #f77116;
  filter: blur(50px);
  opacity: 0.3;
}
.HomeWeb .BannerItem .modal .modal-content {
  position: relative;
  height: 60vh;
  border-radius: 15px;
  overflow: hidden;
}
.HomeWeb .BannerItem .modal .modal-content .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.HomeWeb .BannerItem .modal .modal-content .background img {
  width: 100%;
  height: 100%;
}
.HomeWeb .BannerItem .modal .modal-content .header {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: transparent;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.HomeWeb .BannerItem .modal .modal-content .header button {
  padding: 0 10px;
  outline: none;
}
.HomeWeb .BannerItem .modal .modal-content .header button span {
  font-size: 35px;
}
.HomeWeb .BannerItem .modal .modal-content .modal-body {
  overflow: hidden;
  position: relative;
  height: 55vh;
  padding: 0 15px;
}
.HomeWeb .BannerItem .modal .modal-content .modal-body .box__right-title {
  height: 12vh;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  font-feature-settings: "liga" off;
}
.HomeWeb .BannerItem .modal .modal-content .modal-body .box__right-title span {
  color: #f77116;
}
.HomeWeb .BannerItem .modal .modal-content .modal-body .box__form {
  padding-top: 2.5vh;
  max-height: 43vh;
  padding-bottom: 10px;
}
.HomeWeb .BannerItem .modal .modal-content .modal-body .box__form textarea {
  resize: none;
  font-size: 20px;
}
.HomeWeb .BannerItem .modal .modal-content .modal-body .box__form input {
  font-size: 20px;
}
.HomeWeb .BannerItem .modal .modal-content .modal-body .box__form select {
  height: 44px;
  font-size: 20px;
}
.HomeWeb .BannerItem .modal .modal-content .modal-body .box__btn button {
  background: #f77116;
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
}
.HomeWeb .BannerItem .modal .modal-content .modal-body .box__left {
  padding: 5vh;
  background-color: transparent;
}
.HomeWeb .BannerItem .modal .modal-content .modal-body .box__left img {
  background-color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.HomeWeb .serviceItem {
  min-height: 800px;
  padding: 100px 12% 100px 12%;
}
.HomeWeb .serviceItem__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: "liga" off;
  color: #18191f;
  padding-bottom: 70px;
}
.HomeWeb .serviceItem__content {
  margin: 15px;
  overflow: hidden;
}
.HomeWeb .serviceItem__content-img.one {
  background: #fdd9d9;
  padding: 5vh 3vh 3vh 3vh;
}
.HomeWeb .serviceItem__content-img.one img {
  transform: translateX(7%);
  width: 130%;
  object-position: left;
  height: 100%;
  transition: all 0.3s ease-in-out 0s;
}
.HomeWeb .serviceItem__content-img.one:hover img {
  transform: translateX(-30%);
}
.HomeWeb .serviceItem__content-img.two {
  background: #c0dae5;
  padding: 3vh;
  display: flex;
  justify-content: center;
}
.HomeWeb .serviceItem__content-img.two img {
  transform: translateX(2%);
  max-width: 400px;
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out 0s;
}
.HomeWeb .serviceItem__content-img.two:hover img {
  transform: translateY(-52%) translateX(2%);
}
.HomeWeb .serviceItem__content-img.there {
  background: #c1e5c0;
  padding-top: 3vh;
  display: flex;
  justify-content: center;
}
.HomeWeb .serviceItem__content-img.there img {
  transform: translateX(2%);
  max-width: 400px;
  width: 100%;
  transition: all 0.3s ease-in-out 0s;
}
.HomeWeb .serviceItem__content-img.there:hover img {
  transform: translateY(-52%) translateX(2%);
}
.HomeWeb .serviceItem__content-img {
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
}
.HomeWeb .serviceItem__content-text h3 {
  font-size: 26px;
  line-height: 40px;
  /* identical to box height, or 133% */
  font-feature-settings: "liga" off;
  /* Text / Gray 900 */
  color: #18191f;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
  font-weight: 700;
}
.HomeWeb .serviceItem__content-text span {
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  font-feature-settings: "liga" off;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
  font-weight: 600;
}
.HomeWeb .DesignWebItem {
  position: relative;
  min-height: 1100px;
  background-color: #f4f5f7;
  padding: 80px 12% 0 12%;
  margin: 0;
}
.HomeWeb .DesignWebItem .box__title-gradeOne {
  font-weight: 900;
  font-size: 45px;
  line-height: 64px;
  font-feature-settings: "liga" off;
  /* Text / Gray 900 */
  color: #18191f;
}
.HomeWeb .DesignWebItem .box__title-gradeOne span {
  color: #f77116;
}
.HomeWeb .DesignWebItem .box__title-gradeTwo {
  padding: 40px 15px 15px 15px;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 143% */
  font-feature-settings: "liga" off;
  /* Text / Gray 900 */
  color: #18191f;
}
.HomeWeb .DesignWebItem .box__title-gradeTwo span {
  font-weight: 900;
}
.HomeWeb .DesignWebItem .box__content-item {
  padding: 15px;
}
.HomeWeb .DesignWebItem .box__content-item img {
  width: 100%;
  border-radius: 15px;
}
.HomeWeb .DesignWebItem .box__btn {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
.HomeWeb .DesignWebItem .box__btn button {
  background: #f77116;
  border-radius: 8px;
  padding: 12px 16px;
  color: #ffff;
  font-weight: 600;
}
.HomeWeb .DesignAppItem {
  position: relative;
  min-height: 1000px;
  background-color: #ffff;
  padding: 80px 12% 80px 12%;
  margin: 0;
}
.HomeWeb .DesignAppItem .box__title-gradeOne {
  font-weight: 900;
  font-size: 45px;
  line-height: 74px;
  font-feature-settings: "liga" off;
  padding-bottom: 20px;
  /* Text / Gray 900 */
  color: #18191f;
}
.HomeWeb .DesignAppItem .box__title-gradeOne span {
  color: #f77116;
}
.HomeWeb .DesignAppItem .box__content {
  padding: 40px 15px 20px 15px;
}
.HomeWeb .DesignAppItem .box__content-img {
  padding: 0 15px;
  width: 100%;
}
.HomeWeb .DesignAppItem .box__content-img img {
  width: 100%;
}
.HomeWeb .DesignAppItem .box__content-footer {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #f4f5f7;
}
.HomeWeb .DesignAppItem .box__content-footer .title {
  font-size: 28px;
  line-height: 40px;
}
.HomeWeb .DesignAppItem .box__content-footer .title span {
  font-weight: 900;
}
.HomeWeb .DesignAppItem .box__content-footer .btn {
  border-radius: 100px;
  padding: 10px 20px;
  background: #f77116;
  color: #ffff;
}
.HomeWeb .ReasonItem {
  position: relative;
  overflow-x: hidden;
  min-height: 800px;
  background-color: #f4f5f7;
  padding: 80px 12% 80px 12%;
  z-index: 2;
}
.HomeWeb .ReasonItem .box {
  position: relative;
  z-index: 2;
}
.HomeWeb .ReasonItem .box__title-gradeOne {
  font-weight: 900;
  font-size: 45px;
  line-height: 64px;
  font-feature-settings: "liga" off;
  padding-bottom: 30px;
  /* Text / Gray 900 */
  color: #18191f;
}
.HomeWeb .ReasonItem .box__title-gradeOne span {
  color: #f77116;
}
.HomeWeb .ReasonItem .box .box .row div {
  transition: 0.4s ease-in-out 0s;
}
.HomeWeb .ReasonItem .box__content {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  margin: 25px 0;
  padding: 24px;
  height: 192px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: 0.3s ease-in-out 0s;
}
.HomeWeb .ReasonItem .box__content-text {
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  color: #18191f;
  font-feature-settings: "liga" off;
  font-weight: bold;
  flex: 1 1;
  transition: 0.3s ease-in-out 0s;
}
.HomeWeb .ReasonItem .box__content-icon {
  width: 32px;
  height: 29px;
}
.HomeWeb .ReasonItem .box__content-icon img {
  width: 100%;
  height: 100%;
}
.HomeWeb .ReasonItem .box__content:hover {
  background: #f77116;
  transition: 0.3s ease-in-out 0s;
}
.HomeWeb .ReasonItem .box__content:hover .box__content-text {
  color: #ffffff;
}
.HomeWeb .ReasonItem .circle {
  z-index: 1;
  position: absolute;
  width: 540px;
  height: 540px;
  border-radius: 540px;
  background: #ffe2bc;
  opacity: 0.5;
  top: 5%;
  right: 1%;
}
.HomeWeb .BusinessPartnerItem {
  position: relative;
  min-height: 500px;
  background-color: #ffff;
  padding: 80px 12% 80px 12%;
}
.HomeWeb .BusinessPartnerItem .box {
  position: relative;
}
.HomeWeb .BusinessPartnerItem .box__title-gradeOne {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 900;
  font-size: 45px;
  line-height: 64px;
  font-feature-settings: "liga" off;
  padding-bottom: 30px;
  /* Text / Gray 900 */
  text-align: center;
  color: #18191f;
}
.HomeWeb .BusinessPartnerItem .box__title-gradeOne span {
  color: #f77116;
}
.HomeWeb .BusinessPartnerItem .box__content {
  flex-wrap: wrap;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(#ffff, #fafafc);
}
.HomeWeb .BusinessPartnerItem .box__content-item {
  margin: 0 10px;
  width: 170px;
  height: 96px;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.3);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomeWeb .BusinessPartnerItem .box__content-item img {
  padding: 15px;
  height: 100%;
}
.HomeWeb .ContactItem {
  position: relative;
  min-height: 650px;
}
.HomeWeb .ContactItem .box {
  padding: 80px 0 80px 0;
  position: relative;
  overflow: hidden;
}
.HomeWeb .ContactItem .box__right {
  padding-left: 12%;
}
.HomeWeb .ContactItem .box__right-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 54px;
  /* or 135% */
  font-feature-settings: "liga" off;
  /* Default / White */
  color: #ffffff;
}
.HomeWeb .ContactItem .box__right-title span {
  color: #f77116;
}
.HomeWeb .ContactItem .box__right-title input {
  font-size: 20px;
}
.HomeWeb .ContactItem .box__right-title .form-control {
  font-feature-settings: "liga" off;
  font-size: 20px;
}
.HomeWeb .ContactItem .box__right-title select {
  height: 44px;
}
.HomeWeb .ContactItem .box__right-title textarea {
  font-size: 20px;
}
.HomeWeb .ContactItem .box__right-btn button {
  padding: 8px 20px;
  background: #f77116;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
.HomeWeb .ContactItem .box__left {
  width: 100%;
  display: flex;
  text-align: end;
  padding: 0;
}
.HomeWeb .ContactItem .box__left-image1 {
  max-height: 500px;
  width: 100%;
}
.HomeWeb .ContactItem .box__left img {
  height: 100%;
}
.HomeWeb .ContactItem .background {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.HomeWeb .ContactItem .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .HomeWeb .serviceItem {
    min-height: 800px;
    padding: 50px 12% 50px 12%;
  }
  .HomeWeb .serviceItem__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: "liga" off;
    color: #18191f;
  }
  .HomeWeb .serviceItem__content {
    margin: 15px;
    overflow: hidden;
  }
  .HomeWeb .serviceItem__content-img.one {
    background: #fdd9d9;
    padding: 5vh 3vh 3vh 3vh;
  }
  .HomeWeb .serviceItem__content-img.one img {
    transform: translateX(7%);
    width: 130%;
    object-position: left;
    height: 100%;
    transition: all 0.3s ease-in-out 0s;
  }
  .HomeWeb .serviceItem__content-img.one:hover img {
    transform: translateX(-30%);
  }
  .HomeWeb .serviceItem__content-img.two {
    background: #c0dae5;
    padding: 3vh;
    display: flex;
    justify-content: center;
  }
  .HomeWeb .serviceItem__content-img.two img {
    transform: translateX(2%);
    max-width: 400px;
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out 0s;
  }
  .HomeWeb .serviceItem__content-img.two:hover img {
    transform: translateY(-52%) translateX(2%);
  }
  .HomeWeb .serviceItem__content-img.there {
    background: #c1e5c0;
    padding-top: 3vh;
    display: flex;
    justify-content: center;
  }
  .HomeWeb .serviceItem__content-img.there img {
    transform: translateX(2%);
    max-width: 400px;
    width: 100%;
    transition: all 0.3s ease-in-out 0s;
  }
  .HomeWeb .serviceItem__content-img.there:hover img {
    transform: translateY(-52%) translateX(2%);
  }
  .HomeWeb .serviceItem__content-img {
    height: 280px;
    border-radius: 8px;
    overflow: hidden;
  }
  .HomeWeb .serviceItem__content-text h3 {
    font-size: 26px;
    line-height: 40px;
    /* identical to box height, or 133% */
    font-feature-settings: "liga" off;
    /* Text / Gray 900 */
    color: #18191f;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
    font-weight: 700;
  }
  .HomeWeb .serviceItem__content-text span {
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    font-feature-settings: "liga" off;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
    font-weight: 600;
  }
}
@media screen and (max-width: 1000px) {
  .titleSizeMobile,
  .HomeWeb .ContactItem .box__right-title,
  .HomeWeb .BusinessPartnerItem .box__title-gradeOne,
  .HomeWeb .ReasonItem .box__title-gradeOne {
    font-weight: 800;
    font-size: 32px;
    line-height: 50px;
    font-feature-settings: "liga" off;
  }

  .HomeWeb .serviceItem {
    min-height: 800px;
    padding: 50px 12% 50px 12%;
  }
  .HomeWeb .serviceItem__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: "liga" off;
    color: #18191f;
  }
  .HomeWeb .serviceItem__content {
    margin: 15px;
    overflow: hidden;
  }
  .HomeWeb .serviceItem__content-img.one {
    background: #fdd9d9;
    padding: 5vh 3vh 3vh 3vh;
  }
  .HomeWeb .serviceItem__content-img.one img {
    transform: translateX(7%);
    width: 130%;
    object-position: left;
    height: 100%;
    transition: all 0.3s ease-in-out 0s;
  }
  .HomeWeb .serviceItem__content-img.one:hover img {
    transform: translateX(-30%);
  }
  .HomeWeb .serviceItem__content-img.two {
    background: #c0dae5;
    padding: 3vh;
    display: flex;
    justify-content: center;
  }
  .HomeWeb .serviceItem__content-img.two img {
    transform: translateX(2%);
    max-width: 400px;
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out 0s;
  }
  .HomeWeb .serviceItem__content-img.two:hover img {
    transform: translateY(-52%) translateX(2%);
  }
  .HomeWeb .serviceItem__content-img.there {
    background: #c1e5c0;
    padding-top: 3vh;
    display: flex;
    justify-content: center;
  }
  .HomeWeb .serviceItem__content-img.there img {
    transform: translateX(2%);
    max-width: 400px;
    width: 100%;
    transition: all 0.3s ease-in-out 0s;
  }
  .HomeWeb .serviceItem__content-img.there:hover img {
    transform: translateY(-52%) translateX(2%);
  }
  .HomeWeb .serviceItem__content-img {
    height: 450px;
    border-radius: 8px;
    overflow: hidden;
  }
  .HomeWeb .serviceItem__content-text h3 {
    font-size: 26px;
    line-height: 40px;
    /* identical to box height, or 133% */
    font-feature-settings: "liga" off;
    /* Text / Gray 900 */
    color: #18191f;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
    font-weight: 700;
  }
  .HomeWeb .serviceItem__content-text span {
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    font-feature-settings: "liga" off;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
    font-weight: 600;
  }
  .HomeWeb .DesignWebItem {
    position: relative;
    min-height: 900px;
    background-color: #f4f5f7;
    padding: 30px 12% 0 12%;
    margin: 0;
  }
  .HomeWeb .DesignWebItem .box__title-gradeOne {
    font-weight: 900;
    font-size: 45px;
    line-height: 64px;
    font-feature-settings: "liga" off;
    /* Text / Gray 900 */
    color: #18191f;
  }
  .HomeWeb .DesignWebItem .box__title-gradeOne span {
    color: #f77116;
  }
  .HomeWeb .DesignWebItem .box__title-gradeTwo {
    padding: 40px 15px 15px 15px;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */
    font-feature-settings: "liga" off;
    /* Text / Gray 900 */
    color: #18191f;
  }
  .HomeWeb .DesignWebItem .box__title-gradeTwo span {
    font-weight: 900;
  }
  .HomeWeb .DesignWebItem .box__content-item {
    padding: 15px;
  }
  .HomeWeb .DesignWebItem .box__content-item img {
    width: 100%;
    border-radius: 15px;
  }
  .HomeWeb .DesignWebItem .box__btn {
    padding: 30px 0;
    display: flex;
    justify-content: center;
  }
  .HomeWeb .DesignWebItem .box__btn button {
    background: #f77116;
    border-radius: 8px;
    padding: 12px 16px;
    color: #ffff;
    font-weight: 600;
  }
  .HomeWeb .DesignAppItem {
    position: relative;
    min-height: 1000px;
    background-color: #ffff;
    padding: 30px 12% 30px 12%;
    margin: 0;
  }
  .HomeWeb .DesignAppItem .box__title-gradeOne {
    font-weight: 900;
    font-size: 45px;
    line-height: 74px;
    font-feature-settings: "liga" off;
    padding-bottom: 20px;
    /* Text / Gray 900 */
    color: #18191f;
  }
  .HomeWeb .DesignAppItem .box__title-gradeOne span {
    color: #f77116;
  }
  .HomeWeb .DesignAppItem .box__content {
    padding: 40px 15px 20px 15px;
  }
  .HomeWeb .DesignAppItem .box__content-img {
    padding: 0 15px;
    width: 100%;
  }
  .HomeWeb .DesignAppItem .box__content-img img {
    width: 100%;
  }
  .HomeWeb .DesignAppItem .box__content-footer {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #f4f5f7;
  }
  .HomeWeb .DesignAppItem .box__content-footer .title {
    font-size: 28px;
    line-height: 40px;
  }
  .HomeWeb .DesignAppItem .box__content-footer .title span {
    font-weight: 900;
  }
  .HomeWeb .DesignAppItem .box__content-footer .btn {
    border-radius: 100px;
    padding: 10px 20px;
    background: #f77116;
    color: #ffff;
  }
  .HomeWeb .ReasonItem {
    position: relative;
    min-height: 500px;
    background-color: #f4f5f7;
    padding: 30px 12% 30px 12%;
    z-index: 2;
  }
  .HomeWeb .ReasonItem .box {
    position: relative;
    z-index: 2;
  }
  .HomeWeb .ReasonItem .box__title-gradeOne {
    padding-bottom: 30px;
    /* Text / Gray 900 */
    color: #18191f;
  }
  .HomeWeb .ReasonItem .box__title-gradeOne span {
    color: #f77116;
  }
  .HomeWeb .ReasonItem .box .box .row div {
    transition: 0.4s ease-in-out 0s;
  }
  .HomeWeb .ReasonItem .box__content {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
    margin: 25px 0;
    padding: 24px;
    height: 192px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: 0.3s ease-in-out 0s;
  }
  .HomeWeb .ReasonItem .box__content-text {
    font-size: 20px;
    line-height: 28px;
    /* or 133% */
    color: #18191f;
    font-feature-settings: "liga" off;
    font-weight: bold;
    flex: 1 1;
    transition: 0.3s ease-in-out 0s;
  }
  .HomeWeb .ReasonItem .box__content-icon {
    width: 32px;
    height: 29px;
  }
  .HomeWeb .ReasonItem .box__content-icon img {
    width: 100%;
    height: 100%;
  }
  .HomeWeb .ReasonItem .box__content:hover {
    background: #f77116;
    transition: 0.3s ease-in-out 0s;
  }
  .HomeWeb .ReasonItem .box__content:hover .box__content-text {
    color: #ffffff;
  }
  .HomeWeb .ReasonItem .circle {
    z-index: 1;
    position: absolute;
    width: 540px;
    height: 540px;
    border-radius: 540px;
    background: #ffe2bc;
    opacity: 0.5;
    top: 5%;
    right: 1%;
  }
  .HomeWeb .BusinessPartnerItem {
    position: relative;
    min-height: 300px;
    background-color: #ffff;
    padding: 30px 5vh;
  }
  .HomeWeb .BusinessPartnerItem .box {
    position: relative;
  }
  .HomeWeb .BusinessPartnerItem .box__title-gradeOne {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0;
    color: #18191f;
  }
  .HomeWeb .BusinessPartnerItem .box__title-gradeOne span {
    color: #f77116;
  }
  .HomeWeb .BusinessPartnerItem .box__content {
    padding: 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(#ffff, #fafafc);
  }
  .HomeWeb .BusinessPartnerItem .box__content-item {
    margin: 5px;
    width: 100px;
    height: 66px;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.3);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .HomeWeb .BusinessPartnerItem .box__content-item img {
    padding: 8px;
    height: 100%;
  }
  .HomeWeb .ContactItem {
    position: relative;
    min-height: 450px;
  }
  .HomeWeb .ContactItem .box {
    padding: 30px 0 30px 0;
    position: relative;
    overflow: hidden;
  }
  .HomeWeb .ContactItem .box__right {
    padding-left: 15px;
  }
  .HomeWeb .ContactItem .box__right-title {
    color: #ffffff;
  }
  .HomeWeb .ContactItem .box__right-title span {
    color: #f77116;
  }
  .HomeWeb .ContactItem .box__right-title input {
    font-size: 20px;
  }
  .HomeWeb .ContactItem .box__right-title .form-control {
    font-feature-settings: "liga" off;
    font-size: 20px;
  }
  .HomeWeb .ContactItem .box__right-title select {
    height: 44px;
  }
  .HomeWeb .ContactItem .box__right-title textarea {
    font-size: 20px;
  }
  .HomeWeb .ContactItem .box__right-btn button {
    padding: 8px 20px;
    background: #f77116;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
  }
  .HomeWeb .ContactItem .box__left {
    width: 100%;
    display: flex;
    text-align: end;
    padding: 2vh 0 0 0;
  }
  .HomeWeb .ContactItem .box__left-image1 {
    max-height: 500px;
    width: 100%;
  }
  .HomeWeb .ContactItem .box__left img {
    height: 100%;
  }
  .HomeWeb .ContactItem .background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .HomeWeb .ContactItem .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.HomeMobile {
  padding: 0;
}
.HomeMobile .BannerItem {
  overflow: hidden;
  position: relative;
}
.HomeMobile .BannerItem .background {
  display: flex;
}
.HomeMobile .BannerItem .background-bg {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0;
  top: 0;
  background: rgba(242, 247, 255, 0.7);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}
.HomeMobile .BannerItem .background-bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 1000px 100px 0;
  border-color: transparent transparent #fff transparent;
  z-index: 1;
}
.HomeMobile .BannerItem .background-purple_circle {
  z-index: 2;
  position: absolute;
  width: 295px;
  height: 295px;
  margin-right: -10vh;
  right: 0;
  top: 15vh;
  border-radius: 100%;
  background: #f77116;
  filter: blur(50px);
  opacity: 0.3;
}
.HomeMobile .BannerItem .content {
  position: relative;
  padding: 16px;
  background-color: transparent;
  z-index: 3;
  text-align: center;
}
.HomeMobile .BannerItem .content__text {
  font-weight: 900;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #18191f;
  padding-bottom: 30px;
}
.HomeMobile .BannerItem .content__btn {
  background: #f77116;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
}
.HomeMobile .BannerItem .content__image {
  margin-top: 25px;
  width: 100%;
}
.HomeMobile .BannerItem .content__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.HomeMobile .BannerItem .modal .modal-content {
  position: relative;
  height: 70vh;
  border-radius: 15px;
  overflow: hidden;
}
.HomeMobile .BannerItem .modal .modal-content .background {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.HomeMobile .BannerItem .modal .modal-content .background img {
  width: 100%;
  height: 100%;
}
.HomeMobile .BannerItem .modal .modal-content .header {
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.HomeMobile .BannerItem .modal .modal-content .header button {
  padding: 0 10px;
  outline: none;
}
.HomeMobile .BannerItem .modal .modal-content .header button span {
  font-size: 35px;
}
.HomeMobile .BannerItem .modal .modal-content .modal-body {
  position: relative;
  z-index: 2;
  height: 65vh;
  padding: 0 15px;
}
.HomeMobile .BannerItem .modal .modal-content .modal-body .box__title {
  height: 15vh;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "liga" off;
}
.HomeMobile .BannerItem .modal .modal-content .modal-body .box__title span {
  color: #f77116;
}
.HomeMobile .BannerItem .modal .modal-content .modal-body .box__form {
  height: 50vh;
  padding-bottom: 10px;
}
.HomeMobile .BannerItem .modal .modal-content .modal-body .box__form textarea {
  resize: none;
}
.HomeMobile .BannerItem .modal .modal-content .modal-body .box__btn button {
  background: #f77116;
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
}
.HomeMobile .serviceItem {
  min-height: 800px;
  padding: 20px 5% 20px 5%;
}
.HomeMobile .serviceItem__title {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  font-feature-settings: "liga" off;
  color: #18191f;
}
.HomeMobile .serviceItem__content {
  margin: 15px;
  overflow: hidden;
}
.HomeMobile .serviceItem__content-img.one {
  background: #fdd9d9;
  padding: 3vh;
}
.HomeMobile .serviceItem__content-img.one img {
  transform: translateX(7%);
  width: 130%;
  object-position: left;
  height: 100%;
  transition: all 0.3s ease-in-out 0s;
}
.HomeMobile .serviceItem__content-img.two {
  background: #c0dae5;
  padding: 3vh 5vh;
  display: flex;
  justify-content: center;
}
.HomeMobile .serviceItem__content-img.two img {
  transform: translateX(2%);
  max-width: 400px;
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out 0s;
}
.HomeMobile .serviceItem__content-img.there {
  background: #c1e5c0;
  padding-top: 3vh 5vh;
  display: flex;
  justify-content: center;
}
.HomeMobile .serviceItem__content-img.there img {
  transform: translateX(2%);
  max-width: 400px;
  width: 100%;
  transition: all 0.3s ease-in-out 0s;
}
.HomeMobile .serviceItem__content-img {
  height: 280px;
  border-radius: 8px;
  overflow: hidden;
}
.HomeMobile .serviceItem__content-text h3 {
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 133% */
  font-feature-settings: "liga" off;
  /* Text / Gray 900 */
  color: #18191f;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
  font-weight: 700;
}
.HomeMobile .serviceItem__content-text span {
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  font-feature-settings: "liga" off;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
  font-weight: 600;
}
.HomeMobile .DesignWebItem {
  position: relative;
  min-height: 1100px;
  background-color: #f4f5f7;
  padding: 30px 5% 0 5%;
  margin: 0;
}
.HomeMobile .DesignWebItem .box__title-gradeOne {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  font-feature-settings: "liga" off;
  /* Text / Gray 900 */
  color: #18191f;
}
.HomeMobile .DesignWebItem .box__title-gradeOne span {
  color: #f77116;
}
.HomeMobile .DesignWebItem .box__title-gradeTwo {
  padding: 30px 15px 0px 15px;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height, or 143% */
  font-feature-settings: "liga" off;
  /* Text / Gray 900 */
  color: #18191f;
}
.HomeMobile .DesignWebItem .box__title-gradeTwo span {
  font-weight: 700;
}
.HomeMobile .DesignWebItem .box__content-item {
  padding: 15px;
}
.HomeMobile .DesignWebItem .box__content-item img {
  width: 100%;
  border-radius: 15px;
}
.HomeMobile .DesignWebItem .box__btn {
  padding: 20px 0 30px 0;
  display: flex;
  justify-content: center;
}
.HomeMobile .DesignWebItem .box__btn button {
  background: #f77116;
  border-radius: 8px;
  padding: 9px 14px;
  color: #ffff;
  font-weight: 600;
}
.HomeMobile .DesignAppItem {
  position: relative;
  min-height: 1000px;
  background-color: #ffff;
  padding: 30px 0 30px 0;
  margin: 0;
}
.HomeMobile .DesignAppItem .box__title-gradeOne {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  font-feature-settings: "liga" off;
  padding-bottom: 20px;
  /* Text / Gray 900 */
  color: #18191f;
}
.HomeMobile .DesignAppItem .box__title-gradeOne span {
  color: #f77116;
}
.HomeMobile .DesignAppItem .box__content {
  padding: 10px 15px 20px 15px;
}
.HomeMobile .DesignAppItem .box__content-img {
  width: 100%;
}
.HomeMobile .DesignAppItem .box__content-img img {
  width: 100%;
}
.HomeMobile .DesignAppItem .box__content-footer {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #f4f5f7;
}
.HomeMobile .DesignAppItem .box__content-footer .title {
  font-size: 20px;
  line-height: 28px;
}
.HomeMobile .DesignAppItem .box__content-footer .title span {
  font-weight: 700;
}
.HomeMobile .DesignAppItem .box__content-footer .btn {
  border-radius: 100px;
  padding: 6px 15px;
  background: #f77116;
  color: #ffff;
}
.HomeMobile .ReasonItem {
  position: relative;
  min-height: 600px;
  background-color: #f4f5f7;
  padding: 30px 5% 30px 5%;
  z-index: 2;
  overflow: hidden;
}
.HomeMobile .ReasonItem .box {
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}
.HomeMobile .ReasonItem .box__title-gradeOne {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  font-feature-settings: "liga" off;
  padding-bottom: 5px;
  /* Text / Gray 900 */
  color: #18191f;
}
.HomeMobile .ReasonItem .box__title-gradeOne span {
  color: #f77116;
}
.HomeMobile .ReasonItem .box .box .row div {
  transition: 0.4s ease-in-out 0s;
}
.HomeMobile .ReasonItem .box__content {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  margin: 15px 0;
  padding: 15px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: 0.3s ease-in-out 0s;
}
.HomeMobile .ReasonItem .box__content-text {
  font-size: 16px;
  line-height: 26px;
  /* or 133% */
  color: #18191f;
  font-feature-settings: "liga" off;
  font-weight: 600;
  flex: 1 1;
  transition: 0.3s ease-in-out 0s;
}
.HomeMobile .ReasonItem .box__content-icon {
  width: 32px;
  height: 29px;
}
.HomeMobile .ReasonItem .box__content-icon img {
  width: 100%;
  height: 100%;
}
.HomeMobile .ReasonItem .box__content:hover {
  background: #f77116;
  transition: 0.3s ease-in-out 0s;
}
.HomeMobile .ReasonItem .box__content:hover .box__content-text {
  color: #ffffff;
}
.HomeMobile .ReasonItem .circle {
  z-index: 1;
  position: absolute;
  width: 364px;
  height: 364px;
  border-radius: 540px;
  background: #ffe2bc;
  opacity: 0.5;
  top: 25vh;
  right: -50%;
}
.HomeMobile .BusinessPartnerItem {
  position: relative;
  min-height: 300px;
  background-color: #ffff;
}
.HomeMobile .BusinessPartnerItem .box {
  position: relative;
}
.HomeMobile .BusinessPartnerItem .box__title-gradeOne {
  display: flex;
  padding: 30px 5vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 0;
  color: #18191f;
}
.HomeMobile .BusinessPartnerItem .box__title-gradeOne span {
  color: #f77116;
}
.HomeMobile .BusinessPartnerItem .box__content {
  flex-wrap: wrap;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(#ffff, #fafafc);
}
.HomeMobile .BusinessPartnerItem .box__content-item {
  margin: 5px;
  width: 80px;
  height: 66px;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.3);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomeMobile .BusinessPartnerItem .box__content-item img {
  padding: 8px;
  height: 100%;
}
.HomeMobile .ContactItem {
  position: relative;
  min-height: 350px;
}
.HomeMobile .ContactItem .box {
  padding: 80px 0 40px 0;
  position: relative;
  overflow: hidden;
}
.HomeMobile .ContactItem .box__right-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  /* or 135% */
  font-feature-settings: "liga" off;
  /* Default / White */
  color: #ffffff;
}
.HomeMobile .ContactItem .box__right-title span {
  color: #f77116;
}
.HomeMobile .ContactItem .box__right-title input {
  font-size: 16px;
}
.HomeMobile .ContactItem .box__right-title .form-control {
  font-feature-settings: "liga" off;
  font-size: 16px;
}
.HomeMobile .ContactItem .box__right-title select {
  height: 38px;
}
.HomeMobile .ContactItem .box__right-title textarea {
  font-size: 20px;
}
.HomeMobile .ContactItem .box__right-btn button {
  padding: 8px 20px;
  background: #f77116;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
.HomeMobile .ContactItem .box__left {
  display: none;
}
.HomeMobile .ContactItem .background {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.HomeMobile .ContactItem .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AboutUsWeb .BannerItem .box {
  padding: 0;
}
.AboutUsWeb .BannerItem .box img {
  width: 100%;
}
.AboutUsWeb .GroupItem {
  position: relative;
  padding: 10vh 12%;
  background: #f4f5f7;
  min-height: 1200px;
}
.AboutUsWeb .GroupItem .groupFont,
.AboutUsWeb .GroupItem .box__two-title p,
.AboutUsWeb .GroupItem .box__one-title p {
  padding: 3vh;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-feature-settings: "liga" off;
  color: #474a57;
  border-radius: 8px;
  background-color: #fff;
  width: 115%;
}
.AboutUsWeb .GroupItem .box {
  position: relative;
}
.AboutUsWeb .GroupItem .box__one {
  position: relative;
  height: 600px;
  padding: 0;
}
.AboutUsWeb .GroupItem .box__one-title {
  z-index: 2;
  position: relative;
  padding: 0;
  margin: auto 0;
}
.AboutUsWeb .GroupItem .box__one-title p {
  position: relative;
}
.AboutUsWeb .GroupItem .box__one-image {
  z-index: 1;
  padding: 5vh 0;
  height: 600px;
}
.AboutUsWeb .GroupItem .box__one-image img {
  width: 100%;
  height: 100%;
}
.AboutUsWeb .GroupItem .box__two {
  position: relative;
  height: 600px;
}
.AboutUsWeb .GroupItem .box__two-title {
  z-index: 2;
  position: relative;
  padding: 0;
  margin: auto 0;
}
.AboutUsWeb .GroupItem .box__two-title p {
  position: relative;
  transform: translateX(-15%);
}
.AboutUsWeb .GroupItem .box__two-image {
  z-index: 1;
  padding: 5vh 0;
  height: 600px;
}
.AboutUsWeb .GroupItem .box__two-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1400px) {
  .AboutUsWeb .BannerItem .box {
    padding: 0;
  }
  .AboutUsWeb .BannerItem .box img {
    width: 100%;
  }
  .AboutUsWeb .GroupItem {
    position: relative;
    padding: 10vh 8%;
    background: #f4f5f7;
    min-height: 1200px;
  }
  .AboutUsWeb .GroupItem .groupFont1400,
  .AboutUsWeb .GroupItem .box__two-title p,
  .AboutUsWeb .GroupItem .box__one-title p {
    padding: 3vh;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    font-feature-settings: "liga" off;
    color: #474a57;
    border-radius: 8px;
    background-color: #fff;
  }
  .AboutUsWeb .GroupItem .box {
    position: relative;
  }
  .AboutUsWeb .GroupItem .box__one {
    position: relative;
    height: 550px;
  }
  .AboutUsWeb .GroupItem .box__one-title {
    z-index: 2;
    position: relative;
    padding: 0;
    height: 550px;
    display: flex;
    align-items: center;
  }
  .AboutUsWeb .GroupItem .box__one-title p {
    position: relative;
    transform: translateX(15%);
  }
  .AboutUsWeb .GroupItem .box__one-image {
    z-index: 1;
    padding: 5vh 0;
    height: 550px;
  }
  .AboutUsWeb .GroupItem .box__one-image img {
    width: 100%;
    height: 100%;
  }
  .AboutUsWeb .GroupItem .box__two {
    position: relative;
    height: 550px;
  }
  .AboutUsWeb .GroupItem .box__two-title {
    z-index: 2;
    position: relative;
    padding: 0;
    height: 550px;
    display: flex;
    align-items: center;
  }
  .AboutUsWeb .GroupItem .box__two-title p {
    position: relative;
    transform: translateX(-15%);
  }
  .AboutUsWeb .GroupItem .box__two-image {
    z-index: 1;
    padding: 5vh 0;
    height: 550px;
  }
  .AboutUsWeb .GroupItem .box__two-image img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .AboutUsWeb .BannerItem .box {
    padding: 0;
  }
  .AboutUsWeb .BannerItem .box img {
    width: 100%;
  }
  .AboutUsWeb .GroupItem {
    position: relative;
    padding: 10vh 5%;
    background: #f4f5f7;
    min-height: 1200px;
  }
  .AboutUsWeb .GroupItem .groupFont1200,
  .AboutUsWeb .GroupItem .box__two-title p,
  .AboutUsWeb .GroupItem .box__one-title p {
    padding: 2vh;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: "liga" off;
    color: #474a57;
    border-radius: 8px;
    background-color: #fff;
  }
  .AboutUsWeb .GroupItem .box {
    position: relative;
  }
  .AboutUsWeb .GroupItem .box__one {
    position: relative;
    height: 500px;
  }
  .AboutUsWeb .GroupItem .box__one-title {
    z-index: 2;
    position: relative;
    padding: 0;
    height: 500px;
    display: flex;
    align-items: center;
  }
  .AboutUsWeb .GroupItem .box__one-title p {
    position: relative;
    transform: translateX(15%);
  }
  .AboutUsWeb .GroupItem .box__one-image {
    z-index: 1;
    padding: 5vh 0;
    height: 500px;
  }
  .AboutUsWeb .GroupItem .box__one-image img {
    width: 100%;
    height: 100%;
  }
  .AboutUsWeb .GroupItem .box__two {
    position: relative;
    height: 500px;
  }
  .AboutUsWeb .GroupItem .box__two-title {
    z-index: 2;
    position: relative;
    padding: 0;
    height: 500px;
    display: flex;
    align-items: center;
  }
  .AboutUsWeb .GroupItem .box__two-title p {
    position: relative;
    transform: translateX(-15%);
  }
  .AboutUsWeb .GroupItem .box__two-image {
    z-index: 1;
    padding: 5vh 0;
    height: 500px;
  }
  .AboutUsWeb .GroupItem .box__two-image img {
    width: 100%;
    height: 100%;
  }
}
