.post-pagination {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}
.post-pagination ul{
    margin-top: 0;
    margin-bottom: 1rem;
}
.post-pagination .button.disabled{
    display: none;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.post-pagination a.active {
    background-color: #fd632f;
    color: #fff;
    cursor: auto;
}
.post-pagination a {
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(225,90,19,.2);
    color: #9ca3a9;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
