@media (max-width: 1440px) {
    .site-header-one .search-nav__right {
        margin-left: 300px;
    }
    .container_custom{
        width: 92%;
        margin-left: 5%;
    }
    .side-menu__block .search-nav__right{
        width: 80%;
        margin-top: 20px;
    }
}
@media(max-width: 1280px){
    .blog-details__image img{
        /* height: 375px; */
    }
    .category .main-nav__main-navigation .main-nav__navigation-box {
        display: -webkit-box;
        -webkit-box-align: center;
        align-items: center;
        height: 100%;
        overflow-x: auto;
    }
    .category .main-nav__main-navigation .main-nav__navigation-box>li>a {
        font-size: 20px;
    }
    .page-header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main-nav__main-navigation .main-nav__navigation-box>li>a{
        font-size: 20px;
    }
    .preloader img {
        width: 50px !important;
        height: auto !important;
    }
    .category ul.main-nav__navigation-box{
    }
    .site-header-one .search-nav__right{
        margin-left: 226px;
    }
}
@media(max-width: 1199px) {
    .container_custom .blog-details__image img {
        /* height: 375px; */
    }
    .site-header-one .search-nav__right {
        display:none;
    }

    .site-header-one .main-nav__right {
        display: none;
    }

    .site-header-one__logo{
        height: 100%;
    }
    .site-header-one__logo a{
        height: 100%;
    }
    span.text-dark {
        position: absolute;
        line-height: 36px;
        font-size: 20px;
        left: 30px;
        bottom: -4px;
    }
    .site-header-one__logo {
        width: 100%;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .site-header-one .container-fluid {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .site-header-one__logo .side-menu__toggler {
        display: -webkit-box;
        display: flex;
    }

    .site-header-one .main-nav__main-navigation {
        display: none;
    }

    .site-header-one__logo {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    .mailchimp-one__form input[type="text"] {
        max-width: 380px;
    }

    .footer-widget__links-wrap {
        margin-left: 0;
    }
    .testimonials-one__icon {
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }
    .testimonials-one__image {
        margin-bottom: 50px;
        display: inline-block;
    }
    .testimonials-one__image img {
        width: 100%;
    }
    .blog-one__content {
        padding-left: 40px;
        padding-right: 40px;
    }
    .contact-one__image img {
        max-width: 100%;
    }
    .contact-one .block-title h3 br ,
    .cta-two .block-title h3 br ,
    .banner-one__video {
        display: none;
    }
    .cta-one__moc {
        left: -250px;
    }
    .cta-two__images > img {
        max-width: 100%;
    }
    .cta-two__icon-wrap {
        flex-wrap: wrap;
    }
    .cta-two__icon-single {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
    }
    .cta-two__icon-single + .cta-two__icon-single {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media(max-width: 991px) {
    .blog-details__content h1{
        font-size: 30px;
    }
    .blog-details__content h2{
        font-size: 20px;
    }
    .blog-details__content h3{
        font-size: 16px;
    }
    .blog-details__content h4{
        font-size: 12px;
    }
    .footer-widget.footer-widget__about,.footer-widget__links-wrap{
        width: 90%;
        margin: auto;
    }
    .mobile-margin{
        margin-bottom: 15px;
    }
    .site-footer__upper {
        padding-top: 60px;
    }
    .sidebar_custom{
        padding-bottom: 33px;
    }
    .post-pagination {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .service-one{
        padding-top: 100px;
    }
    .sidebar__post-content{
        padding-top: 20px;
        padding-left: 0px !important;
    }
    .introduct-left #contact-one{
        margin-left: calc(50% - 130px) !important;
    }
    .category .main-nav__main-navigation .main-nav__navigation-box>li>a {
        font-size: 18px;
    }
    .sidebar__title{
        margin-top: 10px;
    }
    .page-header h2,.blog-details__content h3{
        font-size: 30px;
    }
    .container_custom .blog-details__image img{
        width: 100%;
        object-fit: cover;
    }
    .main-nav__main-navigation .main-nav__navigation-box>li {
        padding: 30px 0;
    }
    .container_custom {
        width: 85%;
        margin: auto;
    }
    .container_custom .sidebar__single.sidebar__post{
        display: none;
    }
    .site-header-one .main-nav__right {
        display: none;
    }

    .site-header-one__logo{
        height: 100%;
    }
    .site-header-one__logo a{
        height: 100%;
    }

    span.text-dark {
        position: absolute;
        line-height: 36px;
        font-size: 20px;
        left: 30px;
        bottom: -4px;
    }

    .site-header-one__logo {
        width: 100%;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .cta-one__moc {
        position: relative;
        bottom: auto;
        left: auto;
    }
    .cta-one__moc img {
        max-width: 100%;
    }
    .banner-one__moc {
        position: relative;
        top: auto;
        right: auto;
        display: block;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .banner-one__moc img {
        max-width: 100%;
    }

    .banner-one {
        padding-top: 120px;
    }

    .footer-widget__about {
        text-align: left;
    }

    .footer-widget__about br {
        display: none;
    }
    .mailchimp-one__form input[type="text"] {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .mailchimp-one .inner-container {
        padding-right: 60px;
        border-radius: 100px;
    }

    .mailchimp-one__icon {
        width: 130px;
        height: 130px;
        top: calc(50% - 65px);
    }
    .funfact-one {
        padding-bottom: 70px;
    }
    .funfact-one__single {
        margin-bottom: 50px;
    }
    .cta-two__icon-wrap {
        flex-wrap: nowrap;
    }
    .cta-two__icon-single {
        -webkit-box-flex: 0;
        flex: 0 0 50%;
    }
    .cta-two .align-items-end {
        -webkit-box-align: center !important;
        align-items: center !important;
        margin-top: 50px;
    }
    .app-shot-one .app-shot-one__carousel::before {
        display: none;
    }
    .app-shot-one .app-shot-one__carousel {
        padding: 0;
        margin-top: 0;
        padding-bottom: 15px;
    }
    .contact-one .contact-one__form {
        padding-right: 0;
        margin-bottom: 60px;
    }
    .cta-one {
        padding-top: 0;
        padding-bottom: 120px;
        margin-top: -40px;
        margin-bottom: 0;
    }
}

@media(max-width: 767px) {
    .main-nav__main-navigation .main-nav__navigation-box>li {
        padding: 25px 0;
    }
    .page-header {
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .page-header .custom-title {
        margin: 35px;
    }
    .site-header-one__logo{
        height: 100%;
    }
    .site-header-one__logo a{
        height: 100%;
    }
    .site-header-one .main-nav__right {
        display: none;
    }

    span.text-dark {
        position: absolute;
        line-height: 36px;
        font-size: 20px;
        left: 30px;
        bottom: -4px;
    }

    .site-header-one__logo {
        width: 100%;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .mailchimp-one__icon {
        position: relative;
        top: auto;
        left: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .mailchimp-one .inner-container {
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 30px;
        text-align: center;
    }

    .mailchimp-one__form {
        -webkit-box-pack: center;
        justify-content: center;
    }

    .mailchimp-one__form input[type="text"] {
        text-align: center;
    }

    .blog-author {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .blog-author__content {
        padding-left: 0;
        padding-top: 30px;
    }
    .block-title h3 br {
        display: none;
    }
    .video-one__content {
        padding-left: 60px;
        padding-right: 60px;
    }
    .video-one__btn {
        top: 80px;
    }
    .faq-accrodion .accrodion .accrodion-content .inner {
        padding-right: 40px;
        padding-left: 30px;
    }
    .faq-accrodion .accrodion .accrodion-title {
        padding-left: 30px;
        padding-right: 30px;
    }
    .faq-accrodion .accrodion .accrodion-title::before,
    .faq-accrodion .accrodion .accrodion-title::after {
        right: 20px;
    }
}

@media(max-width: 700px) {
    .site-header-one__logo{
        height: 100%;
    }
    .site-header-one__logo a{
        height: 100%;
    }
    span.text-dark {
        position: absolute;
        line-height: 36px;
        font-size: 20px;
        left: 30px;
        bottom: -4px;
    }
    .banner-one__bg {
        right: -80%;
    }
}

@media(max-width: 575px) {
    .blog-details__content h3{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .main-nav__main-navigation .main-nav__navigation-box>li {
        padding: 20px 0;
    }
    .category .main-nav__main-navigation .main-nav__navigation-box>li>a {
        font-size: 18px;
    }
    .page-header {
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .page-header .custom-title {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    span.text-dark {
        position: absolute;
        line-height: 36px;
        font-size: 20px;
        left: 30px;
        bottom: -4px;
    }
    .banner-one__bg {
        right: -90%;
    }

    .footer-widget__links-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .footer-widget__about {
        text-align: left;
    }

    .blog-one__content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .blog-details__meta {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .blog-details__share {
        margin-top: 20px;
    }
    .cta-two__icon-wrap {
        flex-wrap: wrap;
    }
    .cta-two__icon-single {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
    }
    .testimonials-one__icon {
        display: none;
    }
}

@media(max-width: 535px) {
    .site-header-one__logo{
        height: 100%;
    }
    .site-header-one__logo a{
        height: 100%;
    }
    span.text-dark {
        position: absolute;
        line-height: 36px;
        font-size: 20px;
        left: 30px;
        bottom: -4px;
    }
    .blog-author {
        padding: 30px;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .site-header-one .main-nav__right {
        display: none;
    }

    .site-header-one__logo {
        width: 100%;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .banner-one__bg {
        display: none;
    }

    .comment-one__single {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .comment-one__content {
        padding-left: 0;
        padding-right: 0;
        padding-top: 30px;
    }

    .comment-one__btn {
        position: relative;
        top: auto;
        right: auto;
        margin-top: 30px;
    }
}

@media(max-width: 490px) {

    .container_custom {
        width: 80%;
        margin: auto;
    }
    span.text-dark {
        position: absolute;
        line-height: 36px;
        font-size: 20px;
        left: 30px;
        bottom: -4px;
    }
    .banner-one__mc-form {
        flex-wrap: wrap;
    }

    .banner-one__mc-form input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
        width: 100%;
        max-width: 100%;
        border-radius: 5px;
    }

    .banner-one__mc-btn {
        height: 70px;
        border-radius: 5px;
        margin-top: 20px;
    }

    .post-pagination a {
        width: 45px;
        height: 45px;
    }
    .cta-three h3,
    .block-title h3 {
        font-size: 40px;
    }
    .video-one {
        padding-right: 15px;
        border-radius: 5px;
    }
    .video-one__btn {
        top: 50px;
    }
    .cta-three {
        padding-bottom: 120px;
    }
    .mailchimp-one .inner-container {
        margin-bottom: 0;
    }
    .cta-three {
        margin-bottom: 0;
    }
    .mailchimp-one {
        padding-top: 120px;
    }
    .blog-details {
        padding-bottom: 0;
    }
    .blog-grid {
        padding-bottom: 0;
    }
}

@media(max-width: 480px) {
    .site-header-one__logo{
        height: 100%;
    }
    .site-header-one__logo a{
        height: 100%;
    }
    span.text-dark {
        position: absolute;
        line-height: 36px;
        font-size: 20px;
        left: 30px;
        bottom: -4px;
    }
    .banner-one__content br {
        display: none;
    }

    .banner-one__content h3 {
        font-size: 50px;
        line-height: 1.2em;
    }

    [class*="banner-one__bg-shape-"] {
        display: none;
    }
}

@media(max-width: 425px) {
    span.text-dark {
        position: absolute;
        line-height: 36px;
        font-size: 20px;
        left: 30px;
        bottom: -4px;
    }
    .page-header h2{
        font-size: 25px;
    }
    .mailchimp-one .inner-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .page-header .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .thm-breadcrumb {
        margin-top: 20px;
    }
    .faq-accrodion .accrodion .accrodion-title h4 {
        font-size: 18px;
    }
    .blog-one__content h3 {
        font-size: 22px;
        line-height: 1.4em;
    }
    .cta-three h3,
    .block-title h3 {
        font-size: 34px;
    }
}

@media(max-width: 375px) {
    .main-nav__main-navigation .main-nav__navigation-box>li {
        padding-top: 10px;
    }
    .page-header h2{
        font-size: 22px;
    }

    .category ul.main-nav__navigation-box{
        overflow-x:auto;
        /* margin-left: 50px; */
    }
    .main-nav__main-navigation .main-nav__navigation-box>li+li {
        margin-left: 20px;
    }

    .site-header-one__logo{
        height: 100%;
    }
    .site-header-one__logo a{
        height: 100%;
    }

    span.text-dark {
        position: absolute;
        line-height: 36px;
        font-size: 20px;
        left: 30px;
        bottom: -4px;
    }
    .banner-one__content h3 {
        font-size: 45px;
    }
    .video-one__btn {
        top: 80px;
    }
    .cta-three__btn-wrap {
        flex-wrap: wrap;
    }
    .cta-three__btn + .cta-three__btn {
        margin-left: 0;
        margin-top: 20px;
    }
}
